#!/usr/bin/env bash

if ! command -v asdf >/dev/null; then
  >&2 echo "asdf not installed"
  exit 1
fi

asdf install pre-commit
asdf install python
asdf install poetry

if [[ ! -d .venv ]]; then
  python -m venv .venv
fi

poetry self add poetry-plugin-export
poetry self add "poetry-dynamic-versioning[plugin]"

source .venv/bin/activate

pre-commit install
